{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">

	<div class="messages"></div>

	<div class="container-fluid" id="adminTabs">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#paths">Paths</a>
			</li>
			<li>
				<a href="#debug">Debug</a>
			</li>
			<li>
				<a href="#branch">Branch</a>
			</li>
			<li>
				<a href="#visibility">Visibility</a>
			</li>
			<li>
				<a href="#accounts">Accounts</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-content">
				<div class="tab-pane active" id="paths">
					<h3><strong>Git</strong> Executable Path</h3>
					<p>
						Your path to the git client. No need to use apostrophe (") before and after the path on a windows systems.
					</p>
					<p>
						<input type="text" class="singleProperty input-xlarge" name="git/client" value="{{client}}"/>
					</p>

					<h3>Paths to your Repositories</h3>
					<p>
						Listing of all repository paths:
					</p>
					<table class="tree">
						<thead>
							<tr>
								<th width="100%">Path</th>
								<th style="text-align: center;">Action</th>
							</tr>
						</thead>
						<tbody id="repos_table">
							{% for repo in repositorypaths %}
							<tr>
								<td><i class="icon-folder-open icon-spaced"></i><a href="{{ repo.path }}">{{ repo.path }}</td>
								<td><a class="btn remove-repo" href="#" data-repofolder="{{ repo.path }}">remove</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

					<!-- Add repository  -->
					<div class="pagination-right">
						<a href="#add_repo_modal" class="btn btn-large"  data-toggle="modal"><i class="icon-plus"></i> Add</a>
					</div>

					<!-- Modal - Add user-->
					<div id="add_repo_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h3 id="myModalLabel">Add a repository path</h3>
						</div>
						<div class="modal-body">
							<div class="add_repo_modal_messages"></div>
							<p>
								You can add a new repository path.
							</p>
							<label>Path:
								<input type="text" id="add_repo_path"/>
							</label>
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">
								Close
							</button>
							<button id="add_repo" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>

				</div>
				<div class="tab-pane" id="branch">
					<h3>Default branch</h3>
					<p>
						Default branch when HEAD is detached:
					</p>
					<p>
						<input type="text" class="singleProperty" name="git/default_branch" class="input-xlarge"  value="{{default_branch}}"/>
					</p>
				</div>
				<div class="tab-pane" id="debug">
					<h3>Debug</h3>
					<p>
						Activate debug mode in GitList:
					</p>
					<p>
						<label>
							{{ debug }}
							<input type="radio" class="singleProperty" name="app/debug" value="true" {% if debug == true %}checked{% endif %}/>
							Yes</label>

						<label>
							<input type="radio" class="singleProperty" name="app/debug" value="false" {% if debug != true %}checked{% endif %}/>
							No</label>
					</p>

					<h3>Cache</h3>
					<p>
						Activate cache in GitList:
					</p>
					<p>
						<label>
							{{ cache }}
							<input type="radio" class="singleProperty"  name="app/cache" value="true" {% if cache == true %}checked{% endif %}/>
							Yes</label>
						<label>
							<input type="radio" class="singleProperty"  name="app/cache" value="false" {% if cache != true %}checked{% endif %}/>
							No</label>
					</p>
				</div>

				<div class="tab-pane" id="visibility">
					<h3>Visibility</h3>
					<p>
						Set up the visibility of your GitList. You can make your GitList private or public. If it's private only users oder administrators can access the GitList. You can manage your user accounts in the tab 'Accounts':
					</p>
					<p>
						<label>
							<input type="radio" class="singleProperty" name="app/public" value="true" {% if public == true %}checked{% endif %} id="public_true"/>
							Public</label>
						<label>
							<input type="radio" class="singleProperty" name="app/public" value="false" {% if public != true %}checked{% endif %}  id="public_false"/>
							Private</label>
					</p>
				</div>

				<div class="tab-pane" id="accounts">
					<h3>GitList Accounts</h3>
					<p>
						Define your GitList login accounts:
					</p>

					<table class="tree">
						<thead>
							<tr>
								<th width="100%">Name</th>
								<th style="text-align: center;">Role</th>
								<!-- <th style="text-align: center;">Password (SHA-512)</th> -->
								<th style="text-align: center;">Action</th>
							</tr>
						</thead>
						<tbody id="accounts_table">
							{% for key, value in accounts %}
							<tr>
								{% if value[0] == 'ROLE_ADMIN' %}
								<td><i class="icon-wrench icon-spaced"></i>{{key}} </td>
								{% endif %}

								{% if value[0] == 'ROLE_USER' %}
								<td><i class="icon-user icon-spaced"></i>{{key}} </td>
								{% endif %}

								<td>{{ value[0] }}</td>
								<!-- <td>{{ value[1] }}</td> -->
								<td><a class="btn remove-account" href="#" data-name="{{key}}">remove</a></td>

							</tr>
							{% endfor %}
						</tbody>
					</table>

					<!-- Add user -->
					<div class="pagination-right">
						<a href="#add_account_modal" class="btn btn-large"  data-toggle="modal"><i class="icon-plus"></i> Add</a>
					</div>

					<!-- Modal - Add user-->
					<div id="add_account_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h3 id="myModalLabel">Add a new account</h3>
						</div>
						<div class="modal-body">
							<div class="add_account_modal_messages"></div>
							<p>
								You can add a new user by name and role. Enter the password as plain text, it will be encrypted automatically.
							</p>
							<label>Name:
								<input type="text" id="add_account_name"/>
							</label>
							<label>Password (plain):
								<input type="text" id="add_account_password"/>
							</label>
							<label>Role:
								<select  id="add_account_role">
									<option value="ROLE_ADMIN">Admin</option>
									<option value="ROLE_USER">User</option>
								</select> </label>
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">
								Close
							</button>
							<button id="add_account" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr />
		{% include 'footer.twig' %}
	</div>
	{% endblock %}
